script-dir: /etc/nodepool/scripts
elements-dir: /etc/nodepool/elements
images-dir: /opt/nodepool_dib
#TODO: set the mysql_password to vars.sh $MYSQL_PASSWORD
dburi: 'mysql://nodepool:<%= mysql_password %>@localhost/nodepool'

cron:
  cleanup: '*/1 * * * *'
  check: '*/15 * * * *'
# STOP: Please choose a random hour for nodepool image updates.
# This will help reduce the load on upstream git farms & mirros where all 3rd
# party ci systems start building images at the same time.
# Doing so is easy: update the first '17' below with a random number between 0 to 23
# This references the hour of the day when images will be built.
#  image-update: '17 17 * * *'

zmq-publishers:
  - tcp://localhost:8888

gearman-servers:
  - host: 127.0.0.1

labels:
  - name: d-p-c
    image: dpc
    min-ready: 1
    providers:
      - name: local_01

diskimages:
    - name: dpc
      elements:
        - ubuntu
        - vm
        - openstack-repos
        - puppet
        - nodepool-base
        - node-devstack
      release: trusty
      env-vars:
        TMPDIR: /opt/dib_tmp
        DIB_IMAGE_CACHE: /opt/dib_cache

providers:
  - name: local_01
#TODO: Update the provider username, password, and authurl
    username: '<%= provider_username %>'
    password: '<%= provider_password %>'
    auth-url: 'http://localhost:5000/v2.0'
    project-name: 'admin'
    max-servers: 2
    images:
      - name: dpc
        min-ram: 8192
        diskimage: dpc
        username: jenkins
        private-key: '/home/nodepool/.ssh/id_rsa'

targets:
  - name: local-jenkins
    jenkins:
      url: 'http://localhost:8080/'
#TODO: If you are using a different user in vars.sh JENKINS_API_USER, update it here.
      user: 'jenkins'
#TODO: If you are using secured jenkins, update this to vars.sh JENKINS_API_KEY.
#      apikey: '<%= jenkins_api_key %>'
#TODO: If you changed JENKINS_CREDENTIALS_ID in vars.sh, update it here too:
      credentials-id: 'f4f07d8e-2634-4d01-bcf6-7b8be996e062'
